main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 600px;
}

#section-login{
    height: 100%;
    width: 400px;
    border-radius: 10px;
    border: 2px solid rgb(234, 234, 234);
    padding: 10px 20px;
}

h2{
    padding: 10px;
}
